/*

    ==========
     Add Font
    ==========

*/

@font-face{
    font-family: "montserrat-Regular";
    src:url("../font/ttf/Montserrat-Regular.ttf") format("truetype"),
    url("../font/woff/Montserrat-Regular.woff") format("woff");
}

@font-face{
    font-family: "montserrat-Medium";
    src:url("../font/ttf/Montserrat-Medium.ttf") format("truetype"),
    url("../font/woff/Montserrat-Medium.woff") format("woff");
}

@font-face{
    font-family: "montserrat-SemiBold";
    src:url("../font/ttf/Montserrat-SemiBold.ttf") format("truetype"),
    url("../font/woff/Montserrat-SemiBold.woff") format("woff");
}

@font-face{
    font-family: "montserrat-Bold";
    src:url("../font/ttf/Montserrat-Bold.ttf") format("truetype"),
    url("../font/woff/Montserrat-Bold.woff") format("woff");
}
@tailwind base;
@tailwind components;
@tailwind utilities;
